.furtherDevelopment {
  margin: var(--space-section-l) 0;

  #furtherDevelopment .header {
    font-size: var(--h2-l);
    /* background-color: #D3FF74; */
    line-height: 1;
    padding: 0;
    margin: 0;
    font-weight: normal;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .goal {
    margin-top: var(--goal-margin-top-l);
    padding-bottom: 6rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 6rem;

  }


  #furtherDevelopment h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    /* background-color: blue; */
  }

  .columns {
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    /* align-items: start; */
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--column-gap-l);
    margin-left: auto;
  }

  #furtherDevelopment section {
    max-width: 60ch;
    min-width: 60ch;
  }

  .section p {
    font-size: var(--body-l);
    /* background-color: brown; */
  }

  .section h3 {
    font-size: var(--h3-l);
    line-height: 1;
  }


  .section.column2 {
    h3 {
      text-decoration: underline;
    }

    /* background-color: #C0C6CA; */
  }

  .column2 h3 {
    text-decoration: underline #C0C6CA;
  }

  .columnMargin {
    margin-top: var(--column-margin-top-l);
    margin-bottom: var(--column-margin-bottom-l);
  }
}




/* Medium Screens (Tablets and Small Laptops): */
@media (min-width: 768px) and (max-width: 991px) {
  #furtherDevelopment section {
    max-width: 100%;
  }

  .header {
    font-size: 3rem;
    background-color: coral;
  }

  .goal {
    margin-top: var(--goal-margin-top-m);
  }

}

/* Medium Devices (Larger Tablets and Small Laptops) */
@media screen and (min-width: 993px) and (max-width: 1280px) {
  .furtherDevelopment {
    margin: var(--space-section-m) 0;

    #furtherDevelopment section {
      max-width: 100%;
    }

    .header {
      font-size: var(--h2-m) !important;
      background-color: rgb(55, 90, 137);
    }

    .columns {
      gap: var(--column-gap-m);
    }

    .section h3 {
      font-size: var(--h3-m) !important;
      background-color: rgb(224, 90, 112) !important;
      margin-left: var(--space-side-m) !important;
      margin-right: var(--space-side-m) !important;
    }

    .section p {
      font-size: var(--body-m);
      background-color: yellow;
      margin-left: var(--space-side-m) !important;
      margin-right: var(--space-side-m) !important;
    }

    /* .section ol {
      font-size: var(--body-m);
      background-color: yellow;
      margin-left: var(--space-side-m) !important;
      margin-right: var(--space-side-m) !important;
    } */

    #furtherDevelopment section {
      max-width: 50ch;
      min-width: 50ch;
    }

    .goal {
      margin-top: var(--goal-margin-top-m);
      font-size: var(--goal-font-m);
      background-color: aquamarine !important;
      margin-left: var(--space-side-m) !important;
      margin-right: var(--space-side-m) !important;
      margin-bottom: var(--goal-margin-bottom-m);
    }

    .columnMargin {
      margin-top: var(--column-margin-top-m);
      margin-bottom: var(--column-margin-bottom-m);
    }
  }
}


/* Mobile */
@media (max-width: 767px) {
  .furtherDevelopment {
    margin: var(--space-section-s) 0;

    .header {
      font-size: 4rem !important;
      background-color: rgb(103, 79, 187);
      margin-left: 0.25rem !important;
      margin-right: 0.25rem !important;
    }

    .section h3 {
      font-size: 2.5rem !important;
      background-color: pink !important;
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }

    .section p {
      font-size: var(--body-s);
      background-color: yellow;
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }

    .goal {
      font-size: 0.75rem !important;
      background-color: aquamarine !important;
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
      margin-bottom: 3rem;
      margin-top: var(--goal-margin-top-s);
    }

    .columns {
      gap: var(--column-gap-s);
    }


  }
}