.home {
  height: 100VH;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  .sectionHero p {
    margin: 0;
  }

  .sectionHobbify p {
    margin: 0;
  }


  .header {
    width: 100%;
    height: auto;
    text-align: start;
    font-size: var(--header-xl);
    padding: 1rem;
    z-index: 1;
    line-height: 1;
  }

  .description {
    width: 60ch;
    font-size: var(--description-l);
    padding-left: 1.5vw;
    padding-bottom: 2rem;
  }

  .sectionHero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    justify-content: space-between;
    align-items: flex-start;
    display: inline-flex;
  }

  .sectionHobbify {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
    transition: transform 0.5s ease-in-out;
  }

  .sectionHobbify:hover {
    transform: scale(1.025);
  }

  .hobbifyMockup {
    width: 100%;
    height: auto;
    max-width: 40vw;
    margin: 0 auto;
  }

  .projectsArrowContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .projectsHeader {
    padding-left: 0.5rem;
    padding-right: 1.5rem;
  }

  .descriptionAndProjects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
  }

  .sectionUplift {
    height: 100vh;
    width: 100vw;
    transition: transform 0.5s ease-in-out;
  }

  .sectionUplift:hover {
    transform: scale(1.025);
  }

  .comingSoon {
    background-color: var(--accent-color);
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    margin-left: 0.5rem;
    border-radius: 0.25rem;
  }

  .semiBold {
    font-family: 'Manrope-SemiBold';
  }

  .link:hover {
    color: var(--accent-color);
  }

  .link:visited {
    color: black;
  }

  .link:hover {
    color: var(--accent-color);
  }

}



/* Medium Devices (Larger Tablets and Small Laptops) */
@media screen and (min-width: 993px) and (max-width: 1280px) {
  .home {
    .projectsArrowContainer {
      padding-left: 1.25rem;
    }

    .header {
      font-size: 9rem;
      margin-top: 1rem;
    }
  }
}

/* Small/er Screens (Tablets and some Small Laptops): */
@media (min-width: 768px) and (max-width: 991px) {

  .home {
    .header {
      font-size: var(--header-l);
    }

    .description {
      font-size: var(--description-m);
      padding: 0 var(--space-side-m);
      max-width: 100%;
    }

    .projectsArrowContainer {
      padding-left: 1rem;
      margin-top: 0.5rem;
    }
  }
}

/* Media query for small screens (landscape) */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .home {
    .header {
      font-size: var(--header-l);
    }

    .projectsArrowContainer {
      padding-left: 1rem !important;
    }
  }
}

/* Mobile */
@media (max-width: 767px) {

  .home {
    .header {
      font-size: var(--header-s);
    }

    .description {
      font-size: var(--description-s);
      max-width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .projectsArrowContainer {
      padding-left: 0.5rem !important;
    }
  }
}