.home {
  height: 100VH;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  .sectionHero p {
    margin: 0;
  }

  .sectionHobbify p {
    margin: 0;
  }

  .header {
    width: 100%;
    height: auto;
    text-align: start;
    font-size: var(--header-xl);
    padding: 1rem;
    z-index: 1;
    line-height: 1;
  }

  .description {
    width: 60ch;
    font-size: var(--description-l);
    padding-left: 1.5vw;
    padding-bottom: 2rem;
    /* background-color: rgb(232, 183, 208); */
  }

  .sectionHero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* height: calc(100vh - 2rem); */
    min-height: 100vh;
    justify-content: space-between;
    align-items: flex-start;
    display: inline-flex;

    /* background-color: #d9f37c; */
  }

  .sectionHobbify {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;

    /* background-color: rgb(225, 225, 193); */
    margin-bottom: 2rem;
    transition: transform 0.5s ease-in-out;
  }

  .sectionHobbify:hover {
    transform: scale(1.025);
  }


  .hobbifyMockup {
    max-height: 75%;
    width: 100%;
    object-fit: cover;

  }


  .projectsArrowContainer {
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: greenyellow; */
  }

  .projectsHeader {
    padding-left: 0.5rem;
    padding-right: 1.5rem;
  }

  .descriptionAndProjects {
    /* background-color: blueviolet; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
  }

  .temporaryPadding {
    padding-bottom: 2rem;
  }

  .sectionUplift {

    height: 100vh;
    width: 100vw;
    /* background-color: rgb(254, 238, 134); */


  }

  .comingSoon {

    background-color: var(--accent-color);
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    margin-left: 0.5rem;
    border-radius: 0.25rem;


  }

  .semiBold {
    font-family: 'Manrope-SemiBold';
  }

  .link:hover {
    color: var(--accent-color);
  }

  .link:visited {
    color: black;
  }

  .link:hover {
    color: var(--accent-color);
  }


}


/* Large Screens (Desktops and Larger Laptops) */
/* @media (min-width: 992px) and (max-width: 1199px) {
  .header {
    font-size: var(--header-l);
    background-color: yellow;
  }

  .projectsArrowContainer {
    padding-left: 1rem;
  }
} */


/* Medium Devices (Larger Tablets and Small Laptops) */
@media screen and (min-width: 993px) and (max-width: 1280px) {
  .home {
    .projectsArrowContainer {
      padding-left: 1.25rem;
    }

    .header {
      font-size: 9rem;
      margin-top: 1rem;
    }
  }
}

/* Small/er Screens (Tablets and some Small Laptops): */
@media (min-width: 768px) and (max-width: 991px) {

  .home {
    .header {
      font-size: var(--header-l);
      background-color: orange;
    }

    .description {
      font-size: var(--description-m);
      background-color: hotpink;
      padding: 0 var(--space-side-m);
    }

    .projectsArrowContainer {
      padding-left: 1rem;
    }
  }
}

/* Media query for small screens (landscape) */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .home {
    .header {
      font-size: var(--header-l);
      background-color: orange;
    }

    .projectsArrowContainer {
      padding-left: 1rem !important;
    }
  }
}

/* Mobile */
@media (max-width: 767px) {

  .home {
    .header {
      font-size: var(--header-s);
      background-color: red;
    }

    /* .descriptionAndProjects {
      padding: 0 0.5rem;
      overflow: hidden;
      background-color: purple;
    } */

    .description {
      font-size: var(--description-s);
      max-width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      background-color: cyan;
    }

    .projectsArrowContainer {
      padding-left: 0.5rem !important;
    }
  }
}