:root {
  --accent-color: #C0C6CA;
  --accent-color-dark: #898d90;
  --text-main-color: black;

  /* font-sizes header */
  --header-xl: 11.062rem;
  /* desktop and larger laptops */
  --header-l: 6.875rem;
  /* tablet and small laptops */
  --header-m: 4.250rem;
  /* mobile */
  --header-s: 2.625rem;

  /* h2 */
  --h2-l: 10rem;
  --h2-m: 8rem;

  /* h3 section header */
  --h3-l: 5rem;
  --h3-m: 3.5rem;
  --h3-s: 2.5rem;

  /* font sizes body */
  --body-s: 1.000rem;
  --body-m: 1.125rem;
  --body-l: 1.25rem;

  /* description font size  */
  --description-l: 2rem;
  --description-m: 1.625rem;
  --description-s: 1.25rem;

  /* goal font-sizes */
  --goal-font-s: 0.75rem;
  --goal-font-m: 1rem;


  /* column spacing */
  --column-gap-l: 8rem;
  --column-gap-m: 3.5rem;
  --column-gap-s: 2rem;

  --column-margin-top-m: 5rem;
  --column-margin-bottom-m: 4rem;

  /* spacing */
  --space-side-l: 1.5rem;
  --space-side-m: 1rem;
  --space-side-s: 0.5rem;

  --space-section-l: 10rem;
  --space-section-m: 9rem;
  --space-section-s: 4rem;

  /* z wystawaczkami */
  --goal-margin-top-l: 4rem;
  --goal-margin-top-m: 2.75rem;
  --goal-margin-top-s: 1rem;

  /* goal to content */
  --goal-margin-bottom-l: 8rem;
  --goal-margin-bottom-m: 6rem;
  --goal-margin-bottom-s: 4rem;

  /* images */
  --image-margin-m: 2.5rem;


}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}